/*
assembled by teliov
*/
body{
    background-image: url("../img/bkgrnd.jpeg");
    padding-top: 50px;
}
.starter-template {
    /*background: #ffffff;*/
    padding: 40px 15px;
    box-shadow: 10px 10px 5px #888888;
    moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0px 10px 5px #888888;
}

.starter-template h1{
    color: #2A6496;
}
.content{
    margin: 10px;
}
div.navbar{
    background-color: #626296;
}

a.navbar-brand{
    padding: 0;
}


.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #528eca;
    color: #fff;
}