{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="teliov">
    <meta name="description" content="foto4un!!!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | Foto4un</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/fotofun.css" %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static "img/symbol_small.png" %}"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "profile" request.user.username %}">Profile</a></li>
            <li><a href="{% url "upload" %}">Upload</a></li>
            <li><a href="{% url "picture_list" request.user.username %}">Photos</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template col-md-10 col-md-offset-1">
          <div class="content">
          {% block content %}
            <p>Content Goes here </p>
          {% endblock %}
          </div>
      </div>

    </div><!-- /.container -->



    <script type="text/javascript" src="{% static "js/jquery-1.10.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fotofun.js" %}"></script>
</body>
</html>