{% extends 'foto4un/base.html' %}
{% load staticfiles %}
{% block titile %}
    Edit Profile
{% endblock %}

{% block content %}
    <form>
        <div class="form-group">
            <label>Profile Picture</label>
            {{ form.user_pic}}
        </div>

        <div class="form-group">
            <label>User Bio</label>
            {{ form.user_bio}}
        </div>

        <div class="form-group">
            <label>Sex</label>
            {{ form.user_sex}}
        </div>

        <div class="form-group">
            <label>Country</label>
            {{ form.user_country}}
        </div>

        <div class="form-group">
            <label>Date of Birth</label>
            {{ form.user_dob}}
        </div>
    <div class="row">
        <button type="submit" class="btn-primary btn col-md-offset-1 col-md-2">Save</button>
        <button type="reset" class="btn-danger col-md-offset-3 btn col-md-2">Cancel</button>
    </div>
    </form>
{% endblock %}