{% extends 'foto4un/base.html' %}
{% load thumbnail %}
{% block title %}
Home
{% endblock %}

{% block head %}
    <style>
        .comment-div p{
            padding: 15px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('#comment_form').reset();
        })
    </script>
{% endblock %}


{% block content %}
    {% if items.exits %}
    <p>Coming Soon</p>
    {% else %}
        {% for item in items %}
        <div class="col-md-offset-1 col-md-5">
        <div class="img-div">
            {% thumbnail item.content_object.picture "300x300" crop="center" as pic %}
            <img src="{{ pic.url }}" class="img-responsive img-thumbnail"/>
            {% endthumbnail %}
        </div>
        <div class="img-title">
            <p><a href="{% url 'profile' item.content_object.pic_owner.foto_user.username %}">by {{ item.content_object.pic_owner.foto_user.username}}</a></p>
        </div>
        <div class="comment-div">
            {% for comment in item.content_object.pic_comments.all %}
                <p class="bg-success"><a>{{ comment.commenter.foto_user.username }}</a>({{ comment.date_posted }}): {{ comment.comment }}</p>
            {% endfor %}
            <form role="form" action="{% url 'comment' %}" method="post" id="comment_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" value="{{ request.user.username }}" name="username">
                    <input type="hidden" value="{{ item.content_object.pic_name }}" name="pic_name">
                    <input class="form-control" placeholder="Type Comment here" name="user_comment" id="input_comment">
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

    <script>
        $(document).ready(function(){
            $("#comment_form").keypress(function(){
                var comment = $('#input_comment').val();
                if (event.keyCode == 13){
                    if (comment != ""){
                        $('#comment_form').submit();
                    }
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}