<! DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="author" content="teliov">
        <meta name="description" content="foto4un!!!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Foto4un</title>
        <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <!--link type="text/css" rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/-->
        <link type="text/css" rel="stylesheet" href="{% static "css/cover.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-1.10.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    </head>

    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading" style="font-family:Antyspan">FOTO4UN</h1>
                        <p class="lead">Get the most fun sharing your awesome pics with the people who matter most to you!</p>
                        <p class="lead">
                            <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#register">Register</a>
                        </p>
                        <p class="lead">
                            <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#login">Sign in</a>
                        </p>
                    </div>

                    <!-- Modal for register -->
                    <div class="modal fade" id="register" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- register modal header -->
                                <!-- form starts here -->
                                <form role="form" class="form-horizontal" action="{% url "signup" %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="registerLabel">Sign Up</h4>
                                    </div>

                                    <!-- register modal content -->
                                    <div class="modal-body">
                                        <!-- TODO add register form -->
                                        <div class="form-group">
                                            <label for="inputText3" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-110">
                                                {{ registerForm.email }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                                            <div class="col-sm-110">
                                                {{ registerForm.username }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-110">
                                                {{ registerForm.password }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
                                            <div class="col-sm-110">
                                                {{ registerForm.password_repeat }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- register modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                            </form>
                            <!-- form ends here -->
                            </div>
                        </div>
                    </div>

                    <!-- modal for login -->
                    <div class="modal fade" id="login" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- login modal header -->
                                <!-- form starts here -->
                                <form role="form" class="form-horizontal" method="post" action="{% url "signin" %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="registerLabel">Login</h4>
                                    </div>

                                    <!-- login modal content -->
                                    <div class="modal-body">
                                        <!-- TODO add login form -->
                                        <div class="form-group">
                                            <label for="inputText3" class="col-sm-2 control-label">Username</label>
                                            <div class="col-sm-110">
                                                {{ loginForm.username }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-110">
                                                {{ loginForm.password }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- login modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                            </form>
                            <!-- form ends here -->
                            </div>
                        </div>
                    </div>


                    <div class="mastfoot">
                        <div class="inner">
                            <p> Assembled by <a href="https://twitter.com/Coded19don">@coded19don</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript" src="{% static "js/jquery-1.10.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fotofun.js" %}"></script>

    </body>
</html>