{% extends 'foto4un/base.html' %}
{% load thumbnail %}
{% block title %}
{{ user.foto_user.username }}'s Photos
{% endblock %}

{% block content %}
    <h2><a href="{% url 'picture_list' user.foto_user.username %}">{{ user.foto_user.username }}'s Photos</a></h2>
    <div class="row">
    {% for picture in pictures %}
            <div class="col-md-3">
                    {% thumbnail picture.picture "200x200"  crop="center" as picture %}
                    <img src="{{ picture.url }}" class="img-responsive img-thumbnail"/>
                    {% endthumbnail %}
                    <p class="bg-info"><a href="{% url 'picture_detail' picture.pic_name %}">View Image</a></p>
                    {% if request.user == user.foto_user %}
                    <a href="#"><p class="bg-danger">Delete Image</p></a>
                    {% endif %}
           </div>
    {% endfor %}
    </div>
{% endblock %}