{% extends 'foto4un/base.html' %}
{% load thumbnail %}
{% block title %}
    {{ user.foto_user.username }}'s Photo
{%  endblock %}

{% block head %}
    <style>
        .comment-div p{
            padding: 15px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('#comment_form').reset();
        })
    </script>
{% endblock %}

{% block content %}
    <h2>{{ pic.pic_owner.foto_user.username }}'s Photos</h2>
    <div class="col-md-offset-1 col-md-7">
        <div class="img-div">
            {% thumbnail pic.picture "500x500" crop="center" as pic %}
            <img src="{{ pic.url }}" class="img-responsive img-thumbnail"/>
            {% endthumbnail %}
        </div>
        <div class="img-title">
            <p><a href="{% url 'profile' pic.pic_owner.foto_user.username %}">by {{ pic.pic_owner.foto_user.username}}</a></p>
        </div>
        <div class="comment-div">
            {% for comment in comments %}
                <p class="bg-success"><a>{{ comment.commenter.foto_user.username }}</a>({{ comment.date_posted }}): {{ comment.comment }}</p>
            {% endfor %}
            <form role="form" action="{% url 'comment' %}" method="post" id="comment_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" value="{{ request.user.username }}" name="username">
                    <input type="hidden" value="{{ pic.pic_name }}" name="pic_name">
                    <input class="form-control" placeholder="Type Comment here" name="user_comment" id="input_comment">
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#comment_form").keypress(function(){
                var comment = $('#input_comment').val();
                if (event.keyCode == 13){
                    if (comment != ""){
                        $('#comment_form').submit();
                    }
                }
            });
        });
    </script>
{% endblock %}
