{% extends 'foto4un/base.html' %}
{% load staticfiles%}
{% block title %}
{{ user.foto_user.username }}
{%  endblock %}

{% block content %}
    <div class="row">
    <h1 class="col-md-6"><a href="{% url 'profile' user.foto_user.username %}">{{ user.foto_user.username }}</a></h1>
    {% if request.user.username == user.foto_user.username %}
    <a href="{% url 'edit_profile' request.user.username %}"><button class="col-md-2 btn btn-default">Edit Profile</button></a>
    {% else %}
    <a href="{% url 'follow' user.foto_user.username %}"><button class="col-md-2 btn btn-success">Follow</button></a>
    {%  endif %}
    </div>

    <div class="img-profile">
       <img src="{% static "img/male-placeholder.jpg" %}" class="img-responsive">
    </div>

    <h1>Bio</h1>
    <div>
        <p>CONTENT COMING SOON</p>
    </div>

    <h1><a>Photos</a></h1>
    <div>
        <p>CONTENT COMING SOON</p>
    </div>

    <h1><a>Stats</a></h1>
    <div>
        <p>CONTENT COMING SOON</p>
    </div>
{% endblock %}