{% extends 'foto4un/base.html' %}
{% load staticfiles %}
{% block content %}
    {% if success %}
        <h1>Upload Successful</h1>
        <p><a href="{% url 'upload' %}">Upload again?</a></p>
        <p><a href="{% url 'picture_detail' name%}"> View Picture</a></p>
    {%  else %}
        <h1>Oops!, Upload Unsuccessful, please try again</h1>
        <p><a href="{% url 'upload' %}">Upload again?</a></p>
    {% endif %}
{% endblock %}