{% extends 'foto4un/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Upload your Fab Picture!</h1>
    {% if form.errors %}
        {% for error in form.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form role="form" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInpuFile">Choose Image</label>
            {{ form.picture}}
        </div>

        <div id="img_preview"></div>

        <!--div class="form-group">
            <!--label for="exampleInpuFile">Picture Name</label>
            {{ form.pic_name}}
        </div-->

        <div class="form-group">
            <label for="exampleInpuFile">Caption it!</label>
            {{ form.pic_caption}}
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

{% endblock %}